.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #010f31 !important;
  color: #00CBFF !important;
}

.iam-pedro{
  height: fit-content;
  width: 70%;
  padding: 20px;
  margin: auto;
  border-radius: 40px;
  position: relative;
  top: 100px;
  opacity: 0%;
  animation: iam-pedro 1.5s 0.3s forwards;
}

.my-skills{
  width: 70%;
  height: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 40px;
  color: #00CBFF;
  overflow: hidden;
  opacity: 0%;
  animation: my-skills 1s 1s forwards;
}

@keyframes my-skills {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

@media screen and (max-width: 800px) {
  .iam-pedro, .my-skills{
    width: 600px;
  }
}

@media screen and (max-width: 450px) {
  .iam-pedro, .my-skills{
    width: 390px;
  }
}

@keyframes iam-pedro {
  from{
    top: 100px;
    opacity: 0%;
  }
  to{
    top: 0px;
    opacity: 100%;
  }
}

.list{
  height: 40px;
  overflow: hidden;
  animation: list 1s 1.3s forwards;
}

.list ul{
  text-align: left;
  height: 90%;
  overflow-y: scroll;
}

.list ul li{
  margin-bottom: 5px;
}

.list-img{
  width: 50px;
  height: auto;
  position: relative;
  bottom: 10px;
  border-radius: 10px;
}

@keyframes list {
  from{height: 40px;} to {height: 300px;}
}

::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.767)orange;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(0, 0, 0, 0.767);  /* creates padding around scroll thumb */
}

.typo{
  color: #5bdeff !important;
  text-align: start !important;
}

.dark-text{
  color: rgba(0, 0, 0, 0.767) !important;
}

.toggle{
  background-color: #00CBFF !important;
}


.link1{
  position: relative;
  bottom: 40px;
  opacity: 0%;
  animation: link1 0.8s forwards;
}
.link2{
  position: relative;
  bottom: 40px;
  opacity: 0%;
  animation: link1 0.8s 0.1s forwards;
}
.link3{
  position: relative;
  bottom: 40px;
  opacity: 0%;
  animation: link1 0.8s 0.2s forwards;
}
.link4{
  position: relative;
  bottom: 40px;
  opacity: 0%;
  animation: link1 0.8s 0.3s forwards;
}

@keyframes link1 {
  from{
    opacity: 0%;
    bottom: 40px;
  }
  to{
    opacity: 100%;
    bottom: 0px;
  }
}

.basic-navbar-nav{
  width: fit-content !important;
}

.nav-contain{
  padding: 10px;
}

.nav-brand{
  padding: 20px;
  font-size: xx-large !important;
  position: relative;
  right: 225px;
  animation: brand 1s forwards;
}

@keyframes brand {
  from{
    right: 225px;
  }
  to{
    right: 0px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
